.price-box{
	border-top: 3px solid #000;
	box-shadow: 0 0 1px rgba(0,0,0,.15);
	max-width: 500px;
	margin: 0 auto;
	margin-bottom: 24px;
	.box-head{
		border-bottom: 1px solid rgba(0,0,0,.15);
	}

	.box-body{
		li{
			color: #777;
			padding: 12px 0;
		}
		strong{
			margin-right:5px;
			font-weight: 600;
		}
	}

	.box-footer{
		border-top: 1px solid rgba(0,0,0,.15);
		text-align: center;
		.btn{
			min-width: 60%;
		}
	}
}


.price-box-best{
	border-top-color: $primary;
}

.price-box-best li,
.price-box-best .box-title,
.price-box-best .box-title small{
	color: $primary !important;
}