//= Hamburgers settings
$hamburger-padding-x                       : 0;
$hamburger-padding-y                       : 0;
$hamburger-layer-width                     : 20px;
$hamburger-layer-height                    : 2px;
$hamburger-layer-spacing                   : 3px;
$hamburger-layer-color                     : #fff;
$hamburger-layer-border-radius             : 2px;
$hamburger-hover-opacity                   : 0.7;
$hamburger-hover-transition-duration       : 0.5s;
$hamburger-hover-transition-timing-function: linear;